@model DoorFactory.ViewModels.MaterialsViewModel

<h1 class="mb-3" style="color: #008b8b">Базові матеріали</h1>
<table id="dtBaseMaterials" class="table table-striped table-bordered table-sm dtDoorTables" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                Назва
            </th>
            <th class="th-sm">
                Ціна
            </th>
            <th class="th-sm">
                Категорія
            </th>
            <th class="th-sm">
                Опис
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model.BaseMaterials)
        {
            <tr>
                <td>@material.Name</td>
                <td>@material.Price</td>
                <td>@material.MaterialCategory?.Name</td>
                <td>
                    @if (material.Description == null)
                    {
                        <text>Немає</text>
                    }
                    else
                    {

                        @material.Description
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<h1 class="mb-3" style="color: #008b8b">Типи замків</h1>
<table id="dtLocks" class="table table-striped table-bordered table-sm dtDoorTables" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                Назва
            </th>
            <th class="th-sm">
                Ціна
            </th>
            <th class="th-sm">
                Категорія
            </th>
            <th class="th-sm">
                Опис
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model.Locks)
        {
            <tr>
                <td>@material.Name</td>
                <td>@material.Price</td>
                <td>@material.MaterialCategory?.Name</td>
                <td>
                    @if (material.Description == null)
                    {
                        <text>Немає</text>
                    }
                    else
                    {

                        @material.Description
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<h1 class="mb-3" style="color: #008b8b">Кольори</h1>
<table id="dtColors" class="table table-striped table-bordered table-sm dtDoorTables" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                Назва
            </th>
            <th class="th-sm">
                Забарвлення
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i=0;i<Model.Colors.Count;++i)
        {
            <tr>
                <td>@Model.Colors[i].Name</td>
                <td style="background-color: @Model.ColorCode[i]"></td>
            </tr>
        }
    </tbody>
</table>